layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane command="lvim"
        pane split_direction="horizontal" size="30%"{
            pane command="lsd" {
                focus true
            }
            pane
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}

