layout {
    tab name="terminal" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane split_direction="vertical" {
            pane focus=true
            pane split_direction="horizontal" size="45%"{
                pane
                pane
            }
        }

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="neovim" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane command="lvim"

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

